footer{
    padding: 10px;
    text-align: center; 
    margin-top: 20px; 
    color: #2ea043;
    text-decoration: dashed;
}

p {
    margin: 0;
    font-size: 14px;
    font-size: 10px;
    color: antiquewhite;
}