button{
    background-color: #101107; /* Verde */
    border: 1px solid #0328fa;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}